<a href="https://colab.research.google.com/github/ZaldyMejia/DSA-58010/blob/main/Python_Module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EXAMPLE 1

In [2]:
import array
array.typecodes
A = array.array('i', [1,2,3,4,5,6])
B = array.array('f', [1.5,2.5,3.5,4.5,5.5,6.5])
print(A.typecode)
print(B.typecode)

i
f

EXAMPLE 2. Create/Convert the elements of Array A to a float/decimal number

In [3]:
A = array.array('f', [3.3, 3.4, 5.5 , 5.4, 6.7, 5.2])
print(A)

array('f', [3.299999952316284, 3.4000000953674316, 5.5, 5.400000095367432, 6.699999809265137, 5.199999809265137])

EXAMPLE 3.

In [8]:
a = array.array('i', [4,5,6,7])
b = array.array('i', [5,4,3])
a.insert(1,2)

print(a)

a.insert(-1,0)
print(a)
a.insert(6,8) 
print(a)

b[0] = 5
print(b)
b[-1] = 9
print(b)

array('i', [4, 2, 5, 6, 7])
array('i', [4, 2, 5, 6, 0, 7])
array('i', [4, 2, 5, 6, 0, 7, 8])
array('i', [5, 4, 3])
array('i', [5, 4, 9])

EXAMPLE 4.

In [14]:
class Node:
  def __init__(self, data):
    self.data = data
    self.next = None

class Linkedlist:
  def __init__(self):
    self.head = None

  def printing(self):
    temp = self.head
    while(temp!=None):
      print(temp.data)
      temp = temp.next

list = Linkedlist()
list.head = Node(1)
second = Node(2)
third = Node(3)

list.head.next = second
second.next = third

list.printing()

1
2
3